# ======================================================================
# BACKEND FASTAPI - VARIABLES DE ENTORNO Y BASE DE DATOS
# ======================================================================
PORT=8000
HOST=0.0.0.0
ENVIRONMENT=production
LOG_LEVEL=info

# Configuración Base de Datos PostgreSQL (Laboratorio DevOps)
DB_HOST=192.168.0.203
DB_PORT=5432
DB_NAME=bioenose_db
DB_USER=postgres
DB_PASSWORD=change_me

SECRET_KEY=bioenose_super_secret_jwt_key_2026
