# Python Cache & Bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/
ENV/

# Testing & Coverage
.coverage
coverage.xml
.pytest_cache/
htmlcov/

# Logs and Database files
*.log
*.db
*.sqlite3
database/*.db

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
Thumbs.db
.DS_Store
desktop.ini
