# ======================================================================
# FRONTEND ANGULAR - VARIABLES DE ENTORNO
# ======================================================================
PORT=4200
VITE_API_URL=http://localhost:8000
NG_APP_API_URL=http://localhost:8000
