# ======================================================================
# PYTHON INFERENCE SERVICE - VARIABLES DE ENTORNO
# ======================================================================
PORT=8029
HOST=0.0.0.0
API_URL=http://localhost:8000/sensor_data
